<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>home work 2</title>
        <link rel="stylesheet" href="/stylesheets/CV.css">
        <script src="/javascripts/CV.js"></script>
    </head>
    <body dir="rtl" onload=changeHeader()>
        <div class= "grid-container">
            <div class="headLine">
            <h1 id="h">לירז אוחנה - קורות חיים</h1>
            <button onclick= initHeader()> הצג כותרת מקורית </button>
            </div>
            <div clas="nav_bar">
                <nav>
                    <a href="#per">פרטים אישיים</a>  |
                    <a href="#edu">השכלה</a>  |
                    <a href="#exp">ניסיון תעסוקתי</a>  |
                    <a href="#mili">שירות צבאי</a>
                  </nav>
            </div>
            <div class="info">
                <div id="edu"> 12 שנות לימוד <br> תעודת בגרות מלאה <br> שנה שניה בניהול מערכות מידע</div>
                <div id="mili"> בקרית שליטה ימית בחיל הים</div> 
                <div id="exp"> אין ניסיון מקצועי בתחום</div> 
                <div id="per"> ת.ז 315968958 <br> ohanaliraz@gmil.com <br> 052-7357529</div>
            </div>
            <span class="form">
                <h1 style="font-size: 3vw;">צור קשר:</h1>
                <label for="firstName"><strong>שם פרטי</strong></label>
                <input type="text" id="firstName" name="f_name"> <br>
                <label for="lastName"><strong>שם משפחה</strong></label>
                <input type="text" id="lastName" name="l_name"> <br>
                <label for="num"><strong>מספר טלפון </strong></label>
                <input type="text" id="num" name="num"> <br>
                <label for="email"><strong>Email</strong></label>
                <input type="text" id="email" name="email"> <br>
                <input type="radio" name="radio1"> <strong>קבלת תשובה במייל</strong>
                <input type="radio" name="radio1"> <strong>יצירת קשר טלפוני</strong>
                <br> <label for="textBody"><strong>תוכן הפניה:</strong></label> <br>
                <textarea name="txtbody" cols="40" rows="5"></textarea>
                <button class="send"> הגש בקשה 
            </span>
        </div>
    </body>
  
</html>
