<!doctype>
<html style="background-color:#F7DEF3;">
<head>
    <title>liraz ohana first home work</title>
</head>
<body>
    <h1 style = "color:#7507A4; font-family:cursive;">Home Work 1</h1>

    <p style="font-family: monospace;color:#DF4FF3; font-size: 17px;" >
        <ins><strong>NAME:</strong></ins> liraz ohana <br>
        <ins><strong>ID:</strong></ins> 315968958 <br> <br>
        <a href = "https://www.facebook.com/liraz.ohana.102" target="_blank">Click here to view Facebook profile page</a>
    </p>

    <img src="/images/liraz.jpg" alt="Image not found" height="275px" >
</body>

</html>
